{% extends 'master.html' %}

{% block contentB %}
	<div class="well">
		<!-- Page header -->
		<div class="page-header">
			<h2>Education and work experience</h2>
		</div>
		<!-- /Page header -->

		<!-- Timeline -->
		<div class="timeline">

			<!-- Line component -->
			<div class="line text-muted"></div>

			<!-- Separator -->
			<div class="separator text text-muted">
				<time>11/2016 - Finished working at NanoTemper Technologies GmbH</time>
			</div>
			<!-- /Separator -->

			<!-- Panel -->
			<article class="panel panel-primary">

				<!-- Icon -->
				<div class="panel-heading icon">
					<i class="glyphicon glyphicon-briefcase"></i>
				</div>
				<!-- /Icon -->

				<!-- Heading -->
				<div class="panel-heading">
					<h3 class="panel-title">
						Software Developer Internship - NanoTemper Technologies GmbH,
					</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
				</div>
				<!-- /Heading -->

				<!-- Body -->
				<div class="panel-body">
					<p>
						<b>Period:</b> 9/2016 – 11/2016.<br>
						<b>Location:</b> Munich, Germany.<br>
						<b>Main tasks:</b> Research & Development, software – and web development, user experience, user interfaces.<br>
					</p>
				</div>
				<!-- /Body -->

			</article>
			<!-- /Panel -->

			<!-- Separator -->
			<div class="separator text">
				<time>02/2016 - Finished master's degree</time>
			</div>
			<!-- /Separator -->

			<!-- Panel -->
			<article class="panel panel-primary">

				<!-- Icon -->
				<div class="panel-heading icon">
					<i class="glyphicon glyphicon-education"></i>
				</div>
				<!-- /Icon -->

				<!-- Heading -->
				<div class="panel-heading">
					<h3 class="panel-title">
						Master biochemistry - Ludwig-Maximilians University</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
				</div>
				<!-- /Heading -->

				<!-- Body -->
				<div class="panel-body">
					<p>
						<b>Degree:</b> Master of science, <b>mark very good</b>.<br>
						<b>Period:</b> 10/2013 – 2/2016.<br>
						<b>Location:</b> Munich, Germany.<br>
						<b>Majors:</b> Biochemistry, bioinformatics, nano-chemistry, neurobiology.<br>
						<b>Internships: </b>
							<ul>
							   	<li>Group of Dr. Bianca Habermann, Max-Planck-Institute of Biochemistry, Munich.<br />
									Features of structural binding motifs and their predictive power (master's thesis)</li><br />
							   	<li>Group of Dr. Maya Topf, Birckbeck College, London.<br />
									Developing a novel algorithm to evaluate protein models based on mass spectrometry data </li><br />
								<li>Group of Prof. Bettina V. Lotsch, LMU Munich.<br />
									Synthesis and characteristics of organic-inorganic hybrid perovskites based on the metals copper, tin and strontium</li>
							</ul>
						<br>
					</p>
				</div>
				<!-- /Body -->

			</article>
			<!-- /Panel -->

			<div class="separator text">
				<time>09/2013 - Finished bachelor's degree</time>
			</div>
			<!-- /Separator -->

			<!-- Panel -->
			<article class="panel panel-primary">

				<!-- Icon -->
				<div class="panel-heading icon">
					<i class="glyphicon glyphicon-education"></i>
				</div>
				<!-- /Icon -->

				<!-- Heading -->
				<div class="panel-heading">
					<h3 class="panel-title">
						Bachelor chemistry and biochemistry - Ludwig-Maximilians University</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
				</div>
				<!-- /Heading -->

				<!-- Body -->
				<div class="panel-body">
					<p>
						<b>Degree:</b> Bachelor of science, <b>mark good</b>.<br>
						<b>Period:</b> 9/2010 – 9/2013.<br>
						<b>Location:</b> Munich, Germany.<br>
						<b>Majors:</b> Biochemistry, inorganic chemistry, computer science.<br>
						<b>Thesis topic:</b> Structure elucidation if Ecm29 bound proteasomal precursor complexes - Group of Prof. Dr. Petra Wendler, LMU Munich
					</p>
				</div>
				<!-- /Body -->

			</article>
			<!-- /Panel -->


			<div class="separator text">
				<time>04/2010 - finished civilian service</time>
			</div>
			<!-- /Separator -->

			<!-- Panel -->
			<article class="panel panel-primary">

				<!-- Icon -->
				<div class="panel-heading icon">
					<i class="glyphicon glyphicon-briefcase"></i>
				</div>
				<!-- /Icon -->

				<!-- Heading -->
				<div class="panel-heading">
					<h3 class="panel-title">
						Civilian service
						- University Hospital Heidelberg: Section neurosurgically research
					</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
				</div>
				<!-- /Heading -->

				<!-- Body -->
				<div class="panel-body">
					<p><b>Group:</b> Laboratory of Prof. Dr. rer. Nat. Christel Herold-Mende.<br>
						<b>Period:</b> 8/2009 – 4/2010.<br>
						<b>Location:</b> Heidelberg, Germany.<br>
						<b>Main tasks:</b> Freeze and catalog human tumor tissue, preparing tissue cryostats, DNA/RNA isolation from human blood and tissue.
					</p>
				</div>
				<!-- /Body -->

			</article>
			<!-- /Panel -->

			<div class="separator text">
				<time>06/2009 - finished secondary school </time>
			</div>
			<!-- /Separator -->

			<!-- Panel -->
			<article class="panel panel-primary">

				<!-- Icon -->
				<div class="panel-heading icon">
					<i class="glyphicon glyphicon-book"></i>
				</div>
				<!-- /Icon -->

				<!-- Heading -->
				<div class="panel-heading">
					<h3 class="panel-title">
						Secondary school - Bildungszentrum Markdorf
					</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
				</div>
				<!-- /Heading -->

				<!-- Body -->
				<div class="panel-body">
					<p><b>Degree:</b> Abitur (general qualification for university entrance), <b>mark good</b>.<br>
						<b>Period: </b> 9/2000 – 6/2009<br>
						<b>Location:</b> Markdorf, Germany.<br>
						<b>Main subjects:</b> Chemistry, Mathematics, Computer Science.
					</p>
				</div>
				<!-- /Body -->

			</article>
			<!-- /Panel -->
		</div>
		<!-- /Timeline -->
	</div>
{% endblock %}


{% block styles %}
{{super()}}
<link rel=stylesheet type=text/css href="{{url_for('static', filename='timeline.css') }}">
{% endblock %}

{% block scripts %}
{{super()}}
<script>

$(document).on('click', '.panel-heading span.clickable', function (e) {
    var $this = $(this);
    if (!$this.hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideUp();
        $this.addClass('panel-collapsed');
        $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
    } else {
        $this.parents('.panel').find('.panel-body').slideDown();
        $this.removeClass('panel-collapsed');
        $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
    }
});

$(document).on('click', '.panel div.clickable', function (e) {
    var $this = $(this);
    if (!$this.hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideUp();
        $this.addClass('panel-collapsed');
        $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
    } else {
        $this.parents('.panel').find('.panel-body').slideDown();
        $this.removeClass('panel-collapsed');
        $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
    }
});

$(document).ready(function () {
    $('.panel-heading span.clickable').click();
    $('.panel div.clickable').click();
});

</script>
{% endblock %}