{% extends 'master.html' %}

{% block contentB %}
<div class="panel panel-default">
  <div class="panel-heading">Scientific competitions</div>
  <div class="panel-body">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Competition name</th>
			<th>achieved</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>Intel-Leibniz-Challenge</td>
			<td>excellent accomplishment</td>
		</tr>
		<tr>
			<td>regional competition “Jugend forscht”:</td>
			<td>2. Award</td>
		</tr>

		</tbody>
	</table></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">part-time jobs</div>
  <div class="panel-body">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Period</th>
			<th>Employer</th>
			<th>Job title</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>6/2014 – 5/2015 </td>
			<td>„Alter Wirt“ in Thalkirchen</td>
			<td>Waiting staff</td>
		</tr>
		<tr>
			<td>6/2010 – 8/2010</td>
			<td>„Meersburg Therme“ - GMF</td>
			<td>Kitchen - and waiting staff</td>
		</tr>

		</tbody>
	</table></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">free time activities</div>
  <div class="panel-body">
	<table class="table table-striped">
		<tbody>
		<tr>
			<td>motorcycling</td>
			<td>snow boarding</td>
			<td>gaming and coding</td>
			<td>sports: football, squash, body weight training</td>
		</tr>
		<tr>
			<td>traveling</td>
			<td>cooking</td>
			<td>music concerts</td>
			<td></td>
		</tr>

		</tbody>
	</table></div>
</div>

{% endblock %}

{% block styles %}
{{super()}}
<style>
</style>
{% endblock %}